body 
{
    background-color: #89CFF0;
    color: white;
    font-family: 'Quattrocento', serif;

}

#alilink
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 475px;
    height: 390px;
    padding-left: 35px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 110px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}

#cedarlink
{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 464px;
    height: 390px;
    padding-left: 40px;
    padding-top: 40px;
    border-radius: 110px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}

#daniellink
{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 490px;
    height: 390px;
    padding-left: 25px;
    padding-top: 30px;
    border-radius: 110px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}

#tonylink
{
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 520px;
    height: 440px;
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 60px;
    border-radius: 110px;
    border-style: solid;
    border-color: gray;
    border-width: 5px;
}

#rightbottomcorner
{
    line-height: 0px;
    position: static;
    right: 0;
}

hr
{
    margin: 20px;
    background-color: white;
    height: 1px;
    border: none;
}

#a
{
    padding-left: 10px;
}

#d
{
    padding-left: 21px;
}

#t
{
    padding-left: 60px;
}

.tonyimg
{
    margin-left: 70px;
}

h3
{
    font-weight: 900;
    
}